<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar ng-show="$root.headerExists" id="navbar-right-top" class="page-title bar-balanced-900">
			<ion-nav-back-button></ion-nav-back-button>
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-ios-email" id="menu-popover" ng-click="popover.show($event)"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="fabButtonUp"></ion-nav-view>
		<ion-nav-view name="aerosa-side_menus"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left">
		<ion-header-bar class="bar-balanced-900">
			<h1 class="title">aerosa</h1>
		</ion-header-bar>
		<ion-content class="light-bg positive-900">
			<ion-list class="list" >
				<ion-item class="item item-divider text-left" >
					Listas de Precios
				</ion-item>
				<ion-item  class="menu-aceites item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/ACEITES.pdf')">
					<i class="icon ion-android-add-circle"></i> ACEITES
				</ion-item>
				<ion-item  class="menu-bebidas_sin_y_con_alcohol item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/BEBIDAS.pdf')">
					<i class="icon ion-android-add-circle"></i> BEBIDAS SIN Y CON ALCOHOL
				</ion-item>
				<ion-item  class="menu-cafs_cebadas_y_cacao item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CAFES%20CEBADAS%20Y%20CACAO.pdf')">
					<i class="icon ion-android-add-circle"></i> CAFÉS CEBADAS Y CACAO
				</ion-item>
				<ion-item  class="menu-cereales_y_granolas item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CEREALES%20y%20GRANOLAS.pdf')">
					<i class="icon ion-android-add-circle"></i> CEREALES Y GRANOLAS
				</ion-item>
				<ion-item  class="menu-complementos_nutricionales item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/COMPLEMENTOS%20NUTRICIONALES.pdf')">
					<i class="icon ion-android-add-circle"></i> COMPLEMENTOS NUTRICIONALES
				</ion-item>
				<ion-item  class="menu-confites item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONFITES.pdf')">
					<i class="icon ion-android-add-circle"></i> CONFITES
				</ion-item>
				<ion-item  class="menu-congelados item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONGELADOS.pdf')">
					<i class="icon ion-android-add-circle"></i> CONGELADOS
				</ion-item>
				<ion-item  class="menu-conservas_varias item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONSERVAS%20VARIAS.pdf')">
					<i class="icon ion-android-add-circle"></i> CONSERVAS VARIAS
				</ion-item>
				<ion-item  class="menu-cosmtica_e_higiene_personal item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/COSMETICA%20E%20HIGIENE%20PERSONAL.pdf')">
					<i class="icon ion-android-add-circle"></i> COSMÉTICA E HIGIENE PERSONAL
				</ion-item>
				<ion-item  class="menu-dulces_jaleas_mermeladas item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/DULCES%20JALEAS%20MERMELADAS.pdf')">
					<i class="icon ion-android-add-circle"></i> DULCES , JALEAS MERMELADAS
				</ion-item>
				<ion-item  class="menu-especias_y_condimentos item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/ESPECIAS%20Y%20CONDIMENTOS.pdf')">
					<i class="icon ion-android-add-circle"></i> ESPECIAS Y CONDIMENTOS
				</ion-item>
				<ion-item  class="menu-frutos_secos_y_frutas_pasas item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/FRUTOS%20SECOS%20Y%20FRUTAS%20PASAS.pdf')">
					<i class="icon ion-android-add-circle"></i> FRUTOS SECOS Y FRUTAS PASAS
				</ion-item>
				<ion-item  class="menu-galletas item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/GALLETAS.pdf')">
					<i class="icon ion-android-add-circle"></i> GALLETAS
				</ion-item>
				<ion-item  class="menu-granos_y_semillas item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/GRANOS%20Y%20SEMILLAS.pdf')">
					<i class="icon ion-android-add-circle"></i> GRANOS Y SEMILLAS
				</ion-item>
				<ion-item  class="menu-harinas_y_salvados item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/HARINAS%20Y%20SALVADOS.pdf')">
					<i class="icon ion-android-add-circle"></i> HARINAS Y SALVADOS
				</ion-item>
				<ion-item  class="menu-hierbas_tes_yuyos item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/HIERBAS%20TE%20YUYOS.pdf')">
					<i class="icon ion-android-add-circle"></i> HIERBAS , TES , YUYOS
				</ion-item>
				<ion-item  class="menu-pastas_quesos_y_cremas item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PASTAS%20QUESOS%20Y%20CREMAS.pdf')">
					<i class="icon ion-android-add-circle"></i> PASTAS QUESOS Y CREMAS
				</ion-item>
				<ion-item  class="menu-prod_bajas_calorias item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20BAJAS%20CALORIAS.pdf')">
					<i class="icon ion-android-add-circle"></i> PROD. BAJAS CALORIAS
				</ion-item>
				<ion-item  class="menu-prod_aptos_para_celacos item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20APTO%20PARA%20CELIACOS.pdf')">
					<i class="icon ion-android-add-circle"></i> PROD. APTOS PARA CELÍACOS
				</ion-item>
				<ion-item  class="menu-productos_orgnicos item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20ORGANICOS.pdf')">
					<i class="icon ion-android-add-circle"></i> PRODUCTOS ORGÁNICOS
				</ion-item>
				<ion-item  class="menu-_prod_de_homeopatia_hahneman item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PRODUCTOS%20DE%20HOMEOPATIA%20HAHNEMAN.pdf')">
					<i class="icon ion-android-add-circle"></i>  PROD. DE HOMEOPATIA HAHNEMAN
				</ion-item>
				<ion-item  class="menu-raciones_y_otros item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/RACIONES%20Y%20OTROS.pdf')">
					<i class="icon ion-android-add-circle"></i> RACIONES Y OTROS
				</ion-item>
				<ion-item  class="menu-snacks item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/SNACKS.pdf')">
					<i class="icon ion-android-add-circle"></i> SNACKS
				</ion-item>
				<ion-item  class="menu-sustituto_de_sal_y_prod_sin_sal item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/SUSTITUTO%20DE%20SAL%20Y%20PROD%20SIN%20SAL.pdf')">
					<i class="icon ion-android-add-circle"></i> SUSTITUTO DE SAL Y PROD SIN SAL
				</ion-item>
				<ion-item  class="menu-varios item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/VARIOS.pdf')">
					<i class="icon ion-android-add-circle"></i> VARIOS
				</ion-item>
				<ion-item  class="menu-galera_de_prodctos item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="aerosa.galera_de_prodctos">
					<i class="icon ion-android-image"></i> Galería de Prodctos
				</ion-item>
				<ion-item  class="menu-menu item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="aerosa.menu">
					<i class="icon ion-android-cloud-done"></i> Menu
				</ion-item>
				<ion-item  class="menu-menu item-sidebar item item-icon-left text-left dark-ink" nav-clear="" menu-close="" ui-sref="aerosa.menu">
					<i class="icon ion-android-contract"></i> menu
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
