	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
				<div class="dashboard-panel">
			<div class="item item-title item-balanced-900">Listas de Precios</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 light positive-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/ACEITES.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>ACEITES</p>
				</a>
				<a class="col-33 light positive-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/BEBIDAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>BEBIDAS SIN Y CON ALCOHOL</p>
				</a>
				<a class="col-33 light calm-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CAFES%20CEBADAS%20Y%20CACAO.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>CAF&Eacute;S CEBADAS Y CACAO</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light calm-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CEREALES%20y%20GRANOLAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>CEREALES Y GRANOLAS</p>
				</a>
				<a class="col-33 light balanced-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/COMPLEMENTOS%20NUTRICIONALES.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>COMPLEMENTOS NUTRICIONALES</p>
				</a>
				<a class="col-33 light balanced-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONFITES.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>CONFITES</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light energized-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONGELADOS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>CONGELADOS</p>
				</a>
				<a class="col-33 light energized-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONSERVAS%20VARIAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>CONSERVAS VARIAS</p>
				</a>
				<a class="col-33 light assertive-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/COSMETICA%20E%20HIGIENE%20PERSONAL.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>COSM&Eacute;TICA E HIGIENE PERSONAL</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light assertive-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/DULCES%20JALEAS%20MERMELADAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>DULCES , JALEAS MERMELADAS</p>
				</a>
				<a class="col-33 light royal-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/ESPECIAS%20Y%20CONDIMENTOS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>ESPECIAS Y CONDIMENTOS</p>
				</a>
				<a class="col-33 light positive-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/FRUTOS%20SECOS%20Y%20FRUTAS%20PASAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>FRUTOS SECOS Y FRUTAS PASAS</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light positive-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/GALLETAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>GALLETAS</p>
				</a>
				<a class="col-33 light calm-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/GRANOS%20Y%20SEMILLAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>GRANOS Y SEMILLAS</p>
				</a>
				<a class="col-33 light calm-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/HARINAS%20Y%20SALVADOS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>HARINAS Y SALVADOS</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light balanced-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/HIERBAS%20TE%20YUYOS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>HIERBAS , TES , YUYOS</p>
				</a>
				<a class="col-33 light balanced-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PASTAS%20QUESOS%20Y%20CREMAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>PASTAS QUESOS Y CREMAS</p>
				</a>
				<a class="col-33 light energized-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20BAJAS%20CALORIAS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>PROD. BAJAS CALORIAS</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light energized-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20APTO%20PARA%20CELIACOS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>PROD. APTOS PARA CEL&Iacute;ACOS</p>
				</a>
				<a class="col-33 light assertive-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20ORGANICOS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>PRODUCTOS ORG&Aacute;NICOS</p>
				</a>
				<a class="col-33 light assertive-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PRODUCTOS%20DE%20HOMEOPATIA%20HAHNEMAN.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p> PROD. DE HOMEOPATIA HAHNEMAN</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light royal-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/RACIONES%20Y%20OTROS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>RACIONES Y OTROS</p>
				</a>
				<a class="col-33 light positive-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/SNACKS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>SNACKS</p>
				</a>
				<a class="col-33 light positive-900-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/SUSTITUTO%20DE%20SAL%20Y%20PROD%20SIN%20SAL.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>SUSTITUTO DE SAL Y PROD SIN SAL</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light calm-bg ink" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/VARIOS.pdf')" >
					<i class="icon ion-android-add-circle" ></i>
					<p>VARIOS</p>
				</a>
				<a class="col-33 light calm-900-bg ink"  ng-href="#/aerosa/galera_de_prodctos" >
					<i class="icon ion-android-image" ></i>
					<p>Galer&iacute;a de Prodctos</p>
				</a>
				<a class="col-33 light balanced-bg ink"  ng-href="#/aerosa/menu" >
					<i class="icon ion-android-cloud-done" ></i>
					<p>Menu</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 light balanced-900-bg ink"  ng-href="#/aerosa/menu" >
					<i class="icon ion-android-contract" ></i>
					<p>menu</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
