	<ion-view view-title="Menu" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-menu" class="page-menu">
		<div style="height:44px;"></div>
			<div style="width: 100%;height:100%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="Listas de Precios" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/ACEITES.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>ACEITES</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/BEBIDAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>BEBIDAS SIN Y CON ALCOHOL</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CAFES%20CEBADAS%20Y%20CACAO.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>CAFÉS CEBADAS Y CACAO</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CEREALES%20y%20GRANOLAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>CEREALES Y GRANOLAS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/COMPLEMENTOS%20NUTRICIONALES.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>COMPLEMENTOS NUTRICIONALES</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONFITES.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>CONFITES</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONGELADOS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>CONGELADOS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/CONSERVAS%20VARIAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>CONSERVAS VARIAS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/COSMETICA%20E%20HIGIENE%20PERSONAL.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>COSMÉTICA E HIGIENE PERSONAL</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/DULCES%20JALEAS%20MERMELADAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>DULCES , JALEAS MERMELADAS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/ESPECIAS%20Y%20CONDIMENTOS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>ESPECIAS Y CONDIMENTOS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/FRUTOS%20SECOS%20Y%20FRUTAS%20PASAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>FRUTOS SECOS Y FRUTAS PASAS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/GALLETAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>GALLETAS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/GRANOS%20Y%20SEMILLAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>GRANOS Y SEMILLAS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/HARINAS%20Y%20SALVADOS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>HARINAS Y SALVADOS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/HIERBAS%20TE%20YUYOS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>HIERBAS , TES , YUYOS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PASTAS%20QUESOS%20Y%20CREMAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>PASTAS QUESOS Y CREMAS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20BAJAS%20CALORIAS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>PROD. BAJAS CALORIAS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20APTO%20PARA%20CELIACOS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>PROD. APTOS PARA CELÍACOS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PROD%20ORGANICOS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>PRODUCTOS ORGÁNICOS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/PRODUCTOS%20DE%20HOMEOPATIA%20HAHNEMAN.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2> PROD. DE HOMEOPATIA HAHNEMAN</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/RACIONES%20Y%20OTROS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>RACIONES Y OTROS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/SNACKS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>SNACKS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/SUSTITUTO%20DE%20SAL%20Y%20PROD%20SIN%20SAL.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>SUSTITUTO DE SAL Y PROD SIN SAL</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-click="openURL('http://www.decretonatural.com/listasdeprecios/VARIOS.pdf')" >
								<i class="icon ion-android-add-circle" ></i>
								<h2>VARIOS</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/aerosa/galera_de_prodctos" >
								<i class="icon ion-android-image" ></i>
								<h2>Galería de Prodctos</h2>
								<span class="item-note pull-left"></span>
							</a>
							<a class="item item-icon-left" ng-href="#/aerosa/menu" >
								<i class="icon ion-android-cloud-done" ></i>
								<h2>Menu</h2>
								<span class="item-note pull-left"></span>
							</a>
						</div>
					</ion-content>
			</ion-slide>
		</ion-slide-box>
	</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
