	<ion-view view-title="Casos" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-casos" class=" page-casos">
					<!-- code refresh -->
			<ion-refresher pulling-text="Empuja hacia abajo para refrescar..."  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			

			<!-- code search -->
			<ion-list class="card list" >
				<div class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="search" ng-model="filter_casoss" placeholder="Buscar" aria-label="filter casoss" />
				</div>
			</ion-list>
			<!-- ./code search -->


			<!-- code listing -->
			<div class="list animate-fade-slide-in-right">
				<div class="list card" ng-repeat="item in casoss | filter:filter_casoss as results" ng-init="$last ? fireEvent() : null" href="#/drdipaula/casos_singles/{{item.id}}" >
					<div class="item item-balanced-900"  ng-bind-html="item.title.rendered | to_trusted"></div>
					<div class="item item-thumbnail-left item-text-wrap">
						<img alt="" class="full-image" ng-src="{{item.x_featured_media}}" />
						<div class="to_trusted" ng-bind-html="item.content.rendered | to_trusted"></div>
				</div>
					<a class="item button button-clear balanced-900 ink" href="#/drdipaula/casos_singles/{{item.id}}">Ver Caso</a>
				</div>
			</div>
			<!-- ./code listing -->
			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>Sin resultados</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
