	<ion-view view-title="frame" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-frame" class="page-frame">
		  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDWSP4A9HKRF-Lv86f5bJB-ZOOlCrJJhow
      &q=Butchart+Gardens+Victoria+BC
      &attribution_source=Google+Maps+Embed+API
      &attribution_web_url=http://www.butchartgardens.com/
      &attribution_ios_deep_link_id=comgooglemaps://?daddr=Butchart+Gardens+Victoria+BC" allowfullscreen>
  </iframe>
		</ion-content>
		<!-- ./content -->
	</ion-view>
