	<ion-view view-title="Contactar" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-contactar" class=" page-contactar">
		<div class="card">
  <div class="item item-text-wrap">
    <p>Nos encontramos en pleno Centro de Montevideo, en una zona muy cómoda y segura para nuestros pacientes.

Si usted acude con su vehículo le informamos que Clínica Di Pascua brinda estacionamiento sin cargo exclusivo para todos nuestros pacientes a pocos metros de nuestras instalaciones, Convención 1277, entre San José y Soriano.</p>

    <p>Soriano 887/302, esq. Convención. Montevideo, Uruguay.</p>
<div class="text-center">
    <button run-app-call phone="59829042160" class="button icon-left ion-android-call">(+598) 29042160</button>
<allow-intent href="call:*" /><br/>
    <br/>
     <button run-app-call phone="59829042160" class="button icon-left ion-android-call">(+598) 95 017799</button>
<allow-intent href="call:*" />
    <br/><br/>
  <button run-app-sms phone="59829042160" message="Hola, necesitaría una cita con el Dr. Di Pascua, mi nombre es.." class="button button-assertive icon-left ion-email">SMS</button>
<allow-intent href="sms:*" /><br/><br/>
	
	
	<button run-app-email email="info@doctordipascua.com" subject="Subject Message" message="Email para Clinica Di Pascua
" class="button button-calm icon-left ion-email">info@doctordipascua.com</button>
    </div>


  </div>
			
</div>
			<div class="text-center">
			<a run-open-url href="http://www.doctordipascua.com">www.doctordipascua.com</a>
			</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
