	<ion-view view-title="Redes Sociales" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
			<ion-view view-title="Nosotros" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		 
  <div class="text-center">
    <img class="avatar relative" ng-src="data/images/images/LOGOhorizontal.png" />
    <p>CLINICA DI PASCUA</p>
  </div>
 
<br/>

<div class="list card">
 
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/ClinicaOdontologicaDr.DiPascua')" >
    <i class="positive icon ion-social-facebook"></i>
    Nuestro Facebook
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/110332243674790415566?hl=es')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Únete a nuestro Google+
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/CiMESO')" >
    <i class="calm icon ion-social-twitter"></i>
   Síguenos en Twitter
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://www.instagram.com/clinicadipascua/')" >
    <i class="assertive icon ion-social-instagram"></i>
   Instagram
  </a>
   <a class="item item-icon-left" ng-click="openURL('https://www.linkedin.com/in/marcos-di-pascua-d-angelo-92580a16/')" >
    <i class="calm icon ion-social-linkedin"></i>
  Linkedin
  </a>
  
  
   
</div>
          

<br/>
<div class="text-center">
<button run-app-whatsapp message="Hola, te recomiendo un Odontólogo Especialista en Implantología Oral, es la Clínica Di Pascua. Queda en Soriano 887/302, teléfonos 29042160 o 095017799.
http://doctordipascua.com - info@doctordipascua.com" class="button button-balanced-900 icon-left ion-social-whatsapp">Whatsapp</button>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>



		</ion-content>
		<!-- ./content -->
	</ion-view>
