	<ion-view view-title="{{ doctores.title.rendered }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-doctores_singles" class="page-doctores_singles">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list ">
					<div class="item"  ng-bind-html="doctores.title.rendered | to_trusted">{{doctores.title.rendered}}</div>
					<p class="padding pull-left" ><span class="icon ion-android-calendar"> {{doctores.x_date}}</span></p>
					<p class="padding pull-left" ><span class="icon ion-android-contact"> {{doctores.x_author}}</span></p>
					<div class="item noborder"><img class="full-image" ng-src="{{doctores.x_featured_media_original}}"  zoom-view="true" zoom-src="{{doctores.x_featured_media_original}}"/></div>
					<div class="item item-text-wrap noborder to_trusted" ng-bind-html="doctores.content.rendered | strHTML"></div>
					<p class="padding pull-left" ><span class="icon ion-ios-pricetags"> {{doctores.x_tags}}</span></p>
					<p class="padding pull-left" ><span class="icon ion-bookmark"> {{doctores.x_categories}}</span></p>
					<div class="item">
					<p>Share Link</p>
					<div class="button-bar">
						<button class="button button-small button-assertive icon ion-social-googleplus" ng-click="openURL('https://plus.google.com/share?url=' + doctores.link)"></button>
						<button class="button button-small button-positive icon ion-social-facebook" ng-click="openURL('https://facebook.com/sharer/sharer.php?u=' + doctores.link)"></button>
						<button class="button button-small button-calm icon ion-social-twitter" ng-click="openURL('https://twitter.com/share?url=' + doctores.link)"></button>
						<button class="button button-small button-assertive-900 icon ion-social-pinterest" ng-click="openURL('https://pinterest.com/pin/create/bookmarklet/?&url=' + doctores.link)"></button>
						<button class="button button-small button-positive-900 icon ion-social-linkedin" ng-click="openURL('https://www.linkedin.com/shareArticle?url=' + doctores.link)"></button>
					</div>
					</div>
					<div class="item item-button"><a class="button button-balanced ink-dark" ng-click="openURL(doctores.link)">Link</a></div>
			</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
