	<ion-view view-title="Datos de la Cl&iacute;nica" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-datos_de_la_clnica" class="page-datos_de_la_clnica">
		  <div class="item item-image">
    <img src="data/images/images/barner-1.jpg">
  </div>


 <div class="col col-center text-center">
<div class="list card">

  <div class="item item-body">
    
    <p>Nos encontramos en pleno Centro de Montevideo,en una zona muy cómoda y segura para nuestros pacientes.</p>
    <p>
 
    </p>
  </div>

</div><div class="card"> <div class="item item-text-wrap"> 
<p>Soriano 887/302. Montevideo, Uruguay</p>
<p>info@doctordipascua.com</p>	
<a><button run-app-call phone="59829042160" class="button icon-left ion-android-call">(+598) 29042160</button></a>
<a><button run-app-call phone="59895017799" class="button icon-left ion-android-call">(+598) 95 017799</button></a>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
