	<ion-view view-title="Nosotros" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		 
  <div class="text-center">
    <img class="avatar relative" ng-src="data/images/images/LOGOhorizontal.png" />
    <p>CLINICA DI PASCUA</p>
  </div>
 
<br/>

<div class="list card">
 
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/ClinicaOdontologicaDr.DiPascua')" >
    <i class="positive icon ion-social-facebook"></i>
    Nuestro Facebook
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/110332243674790415566?hl=es')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Únete a nuestro Google+
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/CiMESO')" >
    <i class="calm icon ion-social-twitter"></i>
   Síguenos en Twitter
  </a>
  
   <a class="item item-icon-left" ng-click="openURL('mailto:info@doctordipascua.com')" >
    <i class="icon ion-android-mail royal"></i>
    Envíanos tu consulta<br/>
    <span>
        Email: info@doctordipascua.com
    </span>
  </a>
   
</div>

<br/>
<div class="text-center"></div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
